
body {
    font-family: 'Lato', arial, sans-serif;
    color: #000;
    margin: 0;
    font-size: 16px;

  }
  /* Див - использует блок по дефолту, для всех новых елементов ХТМЛ5 застовляем их блоками
  Блок - заствляет себя вести как див  */
  footer, header, nav, section {
    display: block;
}
/* Все заголовки нужно писать в h1(подобные) для гугл роботов/CEO
По факту должен быть только 1 H1 на сайт. */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #17baef;
  }
  
  a {
    color: #17baef;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  a:hover {
    text-decoration: underline;
    
  }
/* Контейнер используеться для ограничения ширины содержимого ОБС
тут ограничители вынесены в медию */
  .container {
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
/* Чтобы в любом блоке/коде сразу отцентровать текст задвая данный класс */
.text-center {
    text-align: center;
}
/* внутри этого класса, все будет юзать функцую flex ОБС почитать на сайте */
.wrapper {
    display: -ms-flexbox;
    display: flex;   
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.green {
  font-weight: bold;
  color:green;
}
.red {
  color:red;
}
.boldme {
  font-weight: bold;
}
.column {
    width: 100%;
    min-height: 1px;
    float: left;
}


  /* ======= Header ======= */
  .header {
    padding: 10px 0;
    background: red;
    color: #fff;
    /* Прикрепляет хедер к топу страницы, далее хедер следует за скроллом */
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }

  .header .logo {
    margin: 0; 
    font-size: 26px;
    padding-top: 10px;
    float: left;
  }

  .header .main-nav {
    float: right;
  }

  ul.nav {
    margin: 0;
    padding: 10px;
  }
  .nav>li {
    display: block;
    float: left;
}
  .header .main-nav .nav .nav-item {
    font-weight: normal;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
  }

  .header .main-nav .nav .nav-item a {
    color: #0a7396;
    font-size: 14px;
    padding: 15px 10px;
  }
  .header .main-nav .nav .nav-item a:hover {
    color: green;
    background: none;
  }
  .header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
  }




  /* ======= Promo Section ======= */
  .promo {
    background: red;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 30px;
  }
  .promo .title {
    font-size: 98px;
    color: #074f66;
    margin-top: 0;
  }
  .promo .title .highlight {
    color: #eebf3f;
  }
  .promo .intro {
    font-size: 28px;
    max-width: 680px;
    margin: 0 auto;
    
  }
 
  /* ======= About Section ======= */
  .about {
    padding: 80px 0;
    background: #f5f5f5;
  }
  .about .title {
    color: #074f66;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .about .intro {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  #about .column {
    position: relative;
    margin-bottom: 30px;
  }
  .about .column .content .sub-title {
    margin-top: 0;
    color: #074f66;
    font-size: 18px;
  }

  /* ======= Features Section ======= */
  .features {
    padding: 80px 0;
    background: red;
    color: #fff;
  }
  .features .title {
    color: #074f66;
    margin-top: 0;
    margin-bottom: 30px;
  }
  /* ======= History Pag  ======= */

  #history .title {
    color: #074f66;
    margin-top: 0;
    margin-bottom: 60px;
}
#history {
    padding: 80px 0;
    background: #f5f5f5;
  }
  .string {
      margin-bottom: 35px;
      border-bottom: 1px solid #dcdcdc;
  }
  /* ======= Footer ======= */
  .footer {
    padding: 35px 0;
    background: #042a36;
    color: #fff;
  }

  @media  screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
    }

    #about .column {
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
    #history .column.column-left {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%; 
    }
    #history .column.column-right {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%; 
    }
    }

@media screen and (min-width: 992px)  {
.container {
    width: 970px;
}
#about .column {
    -ms-flex: 0 0 49.999%;
    flex: 0 0 49.999%;
    max-width: 49.999%;
}
#history .column.column-left {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; 
}
#history .column.column-right {

  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
}

@media screen and (min-width: 1200px) {
.container {
    max-width: 1170px;
}

#history .column.column-right {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; 
}
}